.menuLeft {
  display: flex;
  flex-direction: column;
  width: 70px;
  justify-content: flex-start;
  background-color: rgb(1,69,80);
  height: 100vh;
}

.itemMenu {
  color: rgb(1,185,123);
  text-decoration: none;
  padding: 10px;
}
.changeItemMenu {
  background-color: white
}

.menuLeftTwo {
  display: flex;
  flex-direction: column;
  height: 100vh;
  top: 0;
}
.elementMenu {
  display: flex;
  flex-direction: row;
}
.wrapper {
  display: flex;
}
.workspace {
  display: flex;
}
.subMenu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(22,88,100);
  max-width: auto;
}
.itemSubMenu {
  padding: 10px;
  color: rgb(1,185,123);
  text-decoration: none;
}

.menuLeftThree {
  display:flex;
  flex-direction: column;
  background-color: rgb(1,69,80);
  height: 250px;
  margin-top: 40px;
  border-radius: 5px;
  width: auto;

}
.block {
  margin-top: 200px;
  width: 8px;
  height: 60px;
  background-color: rgb(1,69,80);
  
}
.container {
  display: flex;
}
.fixItem {
  position: fixed;
  top: 0;

background-color:  rgb(1,69,80);
width: 50px;
}
.itemTwo {
  margin-top: 70px;
}

.fixItemBottom {
  position: fixed;
  bottom: 0;

background-color:  rgb(1,69,80);
width: 50px;
}